  /* header */
  header{
    width: 800px;
    height: 132px;
    margin: 60px auto 0;
  }
  h1{
    width: 163px;
    height: 87px;
    background: url(../images/logo.jpg);
    text-indent: -9999px;
    margin: auto;
  }
  h1 a{
    display: block;
    height: 100%;
  }

  /* top_menu */
  .top_menu{
    position: relative;
  }
  .top_menu ul{
    position: absolute;
    right: 20px;
    top: -140px;
  }
  .top_menu li{
    float: left;
  }
  .top_menu>ul>li>a{
    display: block;
    height: 100%;
  }
  .login{
    width: 33px;
    height: 12px;
    background: url(images/login.jpg);
    text-indent: -9999px;
    margin: 10px 10px 0px 0px;
  }
  .join_member{
    width: 44px;
    height: 12px;
    background: url(images/join_member.jpg);
    text-indent: -9999px;
    margin: 10px 10px 0;
  }
  .site_map{
    width: 44px;
    height: 12px;
    background: url(images/site_map.jpg);
    text-indent: -9999px;
    margin: 10px 0 0 10px;
  }

  main{
    width: 800px;
    height: 800px;
    margin: auto;
    background: #dbdbdb;
    border-radius: 8%;
    padding-top: 10px;
    box-sizing: border-box;
  }
  main h2{
    font-size: 30px;
    color: #767676;
    text-align: center;
    margin-bottom: 40px;
  }
  fieldset{border: 0;}
  form{
    width: 800px;
    margin: auto;
  }
  form legend{
    font-size: 20px;
  }
  label{
    width: 110px;
    color: #797979;
    font-weight: bold;
    margin-right: 80px;
  }
  small{
    font-size: 14px;
  }
  input{
    height: 25px;
  }
  form li{
    margin: 30px 0 30px 200px;
    font-size: 20px;
  }
  li label{
    width: 120px;
    float: left;
  }
  .box{
    border-top: 1px solid #eee;
  }
  #addr{
    width: 246px;
  }
  #addr_detail{
    margin: 20px 200px;
  }
  .comp{
    width: 0px;
    margin: auto;
  }